.tittleSize{
	size: 5px; 
}

.fondoTitulo{
	background-color: antiquewhite;
}

.number{
	display: block;
	background-color: White;
	margin-bottom: 30px;
	margin-left: 10px;
	display: inline-block;
}


.btn{
	text-align: center;
	background-color: darkred;
	color: white;
	border-radius: 20px;
	position: relative;
	bottom: 100px;
	/* se coloca bottom porque va alineado a los cuadros de texto*/ 
}
.number{
	display: inline;
}

h4{
	margin-top: 30px;
	margin-left: 10px;
}

#subtittle1{
	position: left;
}

#subtittle2{
	position: right;
}

h4{
	display: inline;
	background-color: AntiqueWhite;
	size: 40px;

}

.separacion{
	margin-bottom: 30px;
	margin-left: 10px;
}

h1{
	text-align: center;
	color: black;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;

}

body{
	background-image: url(image/fondo1.jpg);
}

#cuadroTextoCifrado{
	width: 500px;
	height: 200px;
	resize: none;
	background-color: AntiqueWhite;
	border-style: dashed solid;
	border-color: darkred;
	border-radius: 20px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	font-family: 'Indie Flower', cursive;
}
#cuadroTextoDescifrado{
	width: 500px;
	height: 200px;
	resize: none;
	background-color: AntiqueWhite;
	border-style: dashed solid;
	border-color: darkred;
	border-radius: 20px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	font-family: 'Indie Flower', cursive;
}

#explicacion{
	left: 300px;
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
	background-color: antiquewhite;
	text-align: justify;
	display: block;
	resize: none;
	width: 600px;
	height: 150px;
	border-style: dashed solid;
	border-color: darkred;
	border-radius: 20px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	margin-bottom: 30px;
	margin-left: 350px;
}