.tittleSize{
	size: 5px; 
}

.fondoTitulo{
	background-color: AntiqueWhite;
}

.btn{
	text-align: center;
	background-color: black;
	color: AntiqueWhite;
	border-radius: 20px;
	position: relative;
	bottom: 100px;
		/*Si se achica la pagina el boton se pierde, acomodar eso*/
}

h1{
	text-align: center;
	color: black;
	font-size: 50px;
}

body{
	background-image: url(image/fondo1.jpg);
}

.cuadroTexto{
	width: 498px;
	height: 200px;
	resize: none;
	background-color: inherit;
	border-style: 

/*	max-height: 199px; 
	min-height: 190px;
	max-width: 499px; 
	min-width: 490px;*/
}
